body {
  margin: 0;
}

.navigation {
  height: 1000px;
  position: relative;
}

.navigation__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: center;
  color: White;
  font-family: 'Raleway', sans-serif;
}

.navigation__links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navigation__link {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: White !important;
  font-size: 17px !important;
  letter-spacing: .2em;
}

.navigation__logo {
  color: White !important;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-shadow: black 2px 5px 20px;
}

.navigation__headline {
  font-size: 48px;
}

@media screen and (min-width: 480px) {
  .navigation__headline {
    font-size: 64px;
  }
}

.navigation__info {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
}

.navigation__button {
  color: White !important;
  font-family: 'Raleway', sans-serif;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid white;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 200px;
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin: 0;
}

.textimage {
  margin-top: 150px;
  margin-bottom: 150px;
  overflow: hidden;
}

.textimage__image {
  display: block;
  margin: 0 auto;
  position: relative;
  right: -200%;
}

.textimage__text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  left: -200%;
}

@media screen and (min-width: 992px) {
  .textimage__text {
    margin: 0;
  }
}

.textimage__headline {
  font-size: 48px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
  position: relative;
  left: -200%;
}

@media screen and (min-width: 480px) {
  .textimage__headline {
    font-size: 56px;
  }
}

.magazine {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.magazine__headline {
  font-size: 48px;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 480px) {
  .magazine__headline {
    font-size: 56px;
  }
}

.faderight {
  -webkit-animation-name: faderight;
          animation-name: faderight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fadeleft {
  -webkit-animation-name: fadeleft;
          animation-name: fadeleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes faderight {
  0% {
    right: -200%;
  }
  100% {
    right: 0%;
  }
}

@keyframes faderight {
  0% {
    right: -200%;
  }
  100% {
    right: 0%;
  }
}

@-webkit-keyframes fadeleft {
  0% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}

@keyframes fadeleft {
  0% {
    left: -200%;
  }
  100% {
    left: 0%;
  }
}
/*# sourceMappingURL=style.css.map */