.textimage {
    margin-top:150px;
    margin-bottom: 150px;
    overflow: hidden;

    &__image {
        display: block;
        margin:0 auto;
        position: relative;
        right: -200%;
    }
    &__text {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        margin-bottom:50px;
        position: relative;
        left:-200%;

        @media screen and (min-width:992px){
            margin:0;
        }
    }

    &__headline {
        font-size:48px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin-bottom:50px;
        position: relative;
        left:-200%;

        @media screen and (min-width: 480px) {
            font-size:56px;
        }
    }
}