.magazine {
    height:400px;
    width:250px;
    margin:0 auto;
    opacity: 0;
    overflow: hidden;

    .hard {
        border:1px solid black;
    }

    @media screen and (min-width:992px) {
        width:1000px;
    }

    &__headline {
        font-size: 48px;
        margin-top:150px;
        margin-bottom:50px;
        text-align: center;
        font-family: 'Raleway', sans-serif;


        @media screen and (min-width: 480px) {
            font-size: 56px;
        }
    }

    &__image {
        border-radius: 10000px;
        width:100px;

        @media screen and (min-width:992px) {
            width:250px;
        }
    }
    &__food {
        font-weight: 900;
        font-family: 'Raleway', sans-serif;
        margin-top:50px;
        text-decoration: underline;
        font-size: 12px;

        @media screen and (min-width:992px) {
            font-size: 20px;
        }
    }
    &__download {
        font-family: 'Raleway', sans-serif;
        text-decoration: underline; 
        color:black;
        display:block;
        text-align: center;
        margin-top:50px;

        &:hover {
            color:black;
        }
    }
    &__info {
        font-size:12px;
    }
    &__heading {
        color:white;
        font-family: 'Raleway', sans-serif;
        transform: rotate(45deg);

        @media screen and (min-width:992px) {
            font-size: 30px;
        }
    }
}