.contact {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    border-top: 2px solid black;
    margin-top: 150px;

    label {
        margin-top:25px;
        font-family: 'Raleway', sans-serif;
    }
    textarea {
        margin-top:50px;
    }
    &__headline {
        font-size: 48px;
        margin-bottom:50px;
        text-align: center;
        font-family: 'Raleway', sans-serif;


        @media screen and (min-width: 480px) {
            font-size: 56px;
        }
    }
    input {
        padding:10px;
    }
}